html {
  --background: #edfffe;
  --navbar: #6dc4c1;
  --navbar-hover: #4d8b89;
  --navbar-text: #1b3130;
  --dark: #1a1a1a;

  background: var(--background);
}

body {
  font-family: 'Raleway', calibri;
  height: 100%;
  margin: 0;
}

/*************
Navbar
**************/

nav {
  font-family: 'Raleway';
  font-size: 2em;
  background-color: var(--navbar);
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: var(--navbar-text);
  list-style-type: none;
  text-align: center;
  transition: background-color ease-in-out 0.6s;
  padding: 10px 40px;
}

nav a:hover {
  background-color: var(--navbar-hover);
}

/*************
Main
**************/

.main {
  text-align: center;
}

.myPic {
  margin: 2em 0 1em 0;
}

.myPic img {
  border-radius: 50%;
  width: 15em;
}

.bio {
  margin: 0 20%;
}

.bio h2 {
  font-weight: 900;
}

.bio p {
  line-height: 1.6;
}

.bio p a {
  text-decoration: none;
  color: var(--dark);
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.5s;
  font-weight: bold;
}

.bio p a:hover {
  border-color: var(--dark);
}

.links {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.links a {
  margin: auto 20px;
}

.links a img {
  width: 40px;
}

.copyright {
  color: var(--dark);
  opacity: 0.7;
  font-size: 0.85em;
  margin: 1em;
}

@media screen and (max-width: 992px) {
  .bio {
    margin: 0 10%;
  }
}
